<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Sudoku</h1>
    <div id="sudoku-board" class="sudoku-board">
        </div>
    <button id="new-game-btn">Nowa Gra</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>