<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Web App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Sudoku</h1>
    <div id="game-info"></div>

    <div id="sudoku-board" class="sudoku-board">
    </div>
    <button id="new-game-btn">nowa gra</button>

    <!-- Modal z opcjami trudności -->
    <div id="difficulty-modal" class="modal">
        <div class="modal-content">
            <h2>wybierz poziom trudności</h2>
            
            <div class="difficulty-options">
                <div class="difficulty-section">
                    <h3>plansza mała</h3>
                    <div class="difficulty-buttons">
                        <button class="difficulty-btn" data-size="9" data-difficulty="easy">
                            łatwa
                        </button>
                        <button class="difficulty-btn" data-size="9" data-difficulty="medium">
                            średnia
                        </button>
                        <button class="difficulty-btn" data-size="9" data-difficulty="hard">
                            trudna
                        </button>
                    </div>
                </div>
                
                <div class="difficulty-section">
                    <h3>plansza duża</h3>
                    <div class="difficulty-buttons">
                        <button class="difficulty-btn" data-size="16" data-difficulty="easy">
                            łatwa
                        </button>
                        <button class="difficulty-btn" data-size="16" data-difficulty="medium">
                            średnia
                        </button>
                        <button class="difficulty-btn" data-size="16" data-difficulty="hard">
                            trudna
                        </button>
                    </div>
                </div>
            </div>
            
            <button class="close-modal" id="close-modal">Anuluj</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>